<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta charset="UTF-8">
        <title>Login page</title>
        <style>
            .container {
                text-align:  center;
            }
            table {
                width: 500px; /* Ширина таблицы */
                border: 1px solid black; /* Рамка вокруг таблицы */
                margin: auto; /* Выравниваем таблицу по центру окна  */
            }
        </style>
    </head>
    <body>
    <div class="container" >

        <h1>Login page</h1>

        <form th:action="@{/login}" method="post">
            <h2>Please sign in</h2>
            <table>
                <tr>
                    <td>
                        <label for="j_username">Username</label>:
                    </td>

                    <td>
                        <input type="text" id="j_username" name="j_username"/>
                    </td>

                </tr>

                <tr>
                    <td>
                        <label for="j_password">Password</label>:
                    </td>

                    <td>
                        <input type="password" id="j_password" name="j_password"/>
                    </td>

                </tr>

            </table>


            <p><input type="submit" value="Log in" /></p>

        </form>

        <br>

        <h4><a href="/reg">Registration</a></h4>

        <br>

        <h4><a href="../static/started-page.html" th:href="@{/static/started-page.html}">Back to home page</a></h4>

    </div>

    </body>
</html>